@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

$width_marker: 16px;

.pipeline {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__item {
    cursor: pointer;
    padding: 0.5rem;
    white-space: nowrap;
  }

  &__marker {
    width: $width_marker;
    height: $width_marker;

    &_start {
      border-radius: 50%;
      background: $color_pipeline_elements;
    }

    &_end {
      width: 0;
      height: 0;
      border-top: $width_marker / 2 solid transparent;
      border-right: 0;
      border-bottom: $width_marker / 2 solid transparent;
      border-left: $width_marker solid $color_pipeline_elements;
    }
  }

  &__line {
    @include pipeline-line;
  }
}
