@use 'sass:math';
@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

$size_marker: 16px;

.pipeline {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  &__item {
    cursor: pointer;
    padding: 0.5rem;
    white-space: nowrap;
  }

  &__marker {
    position: absolute;
    top: 0;

    width: $size_marker;
    height: $size_marker;

    &_start {
      left: 0;

      background: $color_pipeline_elements;
    }

    &_end {
      right: 0;

      width: 0;
      height: 0;

      border-top: math.div($size_marker, 2) solid transparent;
      border-right: 0;
      border-bottom: math.div($size_marker, 2) solid transparent;
      border-left: $size_marker solid $color_pipeline_elements;
    }
  }

  &__line {
    $height_line: 1px;

    position: absolute;
    top: math.div($size_marker - $height_line, 2);

    width: calc(100% - #{$size_marker * 2});
    height: $height_line;

    z-index: -1;
    background: $color_pipeline_elements;
    border-radius: 2px;
  }
}
