@use './../../../styles/variables' as *;
@import './../../../styles/global';

.header {
  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__logo {
    pointer-events: none;
    user-select: none;
  }
}
