@use 'sass:math';
@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;
@import './../../../styles/global';

$size_marker: $height_pipeline-background-elements;

.pipeline {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;

  &__content {
    position: static;
    padding: 0 1rem;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;

    padding: 0 1rem;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  max-width: 800px;

  &__item {
    width: math.div(100%, 3);
  }
}

.background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $size_marker;

  &__marker {
    width: $size_marker;
    height: $size_marker;

    &_start {
      background: $color_pipeline_elements;
    }

    &_end {
      width: 0;
      height: 0;

      border-top: math.div($size_marker, 2) solid transparent;
      border-right: 0;
      border-bottom: math.div($size_marker, 2) solid transparent;
      border-left: $size_marker solid $color_pipeline_elements;
    }
  }

  &__line {
    $height_line: 1px;

    width: calc(100% - #{$size_marker * 2});
    height: $height_line;

    background: $color_pipeline_elements;
  }
}
