@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;
@import './../../../styles/global';

:host {
  position: relative;
  background: $color_background-alternative;
  width: $width_sidebar;
  height: 100%;

  overflow: hidden auto;

  padding: 1rem;

  @include border(right);
}

.sidebar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__header {
    width: 100%;
    height: $height_header;
  }

  &__content {
    width: 100%;
    height: auto;
    min-height: calc(100% - #{$height_header});
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__navigation {
  }

  &__execution-control {
    width: 100%;
  }
}
