@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;
@import './../../../styles/global';

:host {
  position: relative;
  background: $color_background-alternative;
  width: $width_sidebar;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow: hidden auto;

  padding: 1rem;

  @include border(right);

  .header {
    width: 100%;
    height: $height_header;
    position: sticky;
    top: 0;
    left: 0;

    z-index: 1;
  }
}
