@use './../../../styles/variables' as *;
@import './../../../styles/global';

:host {
  background: $color_background-alternative;
  width: $width_sidebar;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow: hidden auto;

  padding: 0 1rem;

  border-right: 1px solid $color_main;

  .header {
    width: 100%;
    height: $height_header;
    position: sticky;
    top: 0;
    left: 0;
  }
}
