@use 'sass:color';

$color_background: #eceff1;
$color_main: #263238;
$color_active: #ff5252;
$color_pipeline_elements: color.mix($color_main, $color_background, 25%);

$height_header: 64px;
$height_footer: 64px;
$height_pipeline-background-elements: 16px;
