@use './../../../styles/variables' as *;
@import './../../../styles/global';

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;

  width: 4rem;

  will-change: background;
  transition: 0.1s background;

  color: $color_background;

  padding: 0.25rem;
  border-radius: 4px;

  &__value {
    font-size: 2rem;
    font-weight: 100;
  }

  &__title {
    font-size: 10px;
  }

  &:hover {
    background: $color_background-hover-light;
  }
}
