@use './../../../styles/variables' as *;
@import './../../../styles/global';

.tabs-item {
  width: fit-content;
  height: 100%;

  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  color: #ffffff;
  background: $color_background-alternative;

  cursor: pointer;

  &__name {
    white-space: nowrap;
    user-select: none;

    &_static {
      font-weight: 600;
    }
  }

  &__remove-button {
    cursor: pointer;

    width: 1.2rem;
    height: 1.2rem;

    border-radius: 2px;
    background: none;
    border: none;
    padding: 0;
    margin-left: 0.5rem;

    will-change: background;
    transition: 0.1s background;

    &:hover {
      background: rgba($color: $color_background, $alpha: 0.1);
    }
  }
}
