@use './../../../styles/variables' as *;
@import './../../../styles/global';

:host {
  width: calc(100% - #{$width_sidebar});
  display: block;
}

.route-container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}
