@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;
@import './../../../styles/global';

.tile {
  position: relative;
  background: $color_background-alternative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  padding: 1rem;

  text-decoration: none;
  color: $color_background;
  border-radius: 0.5rem;

  @include border;
  border-color: transparent;

  will-change: border-color;

  user-select: none;

  &:hover {
    border-color: rgba($color: $color_active, $alpha: 0.5);
  }

  &__icon {
    z-index: 2;

    width: 1.6rem;
    height: 1.6rem;
  }

  &__text {
    color: inherit;
    font-size: 1rem;

    padding: 0 0 0 0.5rem;

    z-index: 2;
  }

  &__background {
    position: absolute;

    pointer-events: none;

    width: calc(100% + 2px);
    height: calc(100% + 2px);

    top: -1px;
    left: -1px;
    bottom: 1px;
    right: 1px;

    background: transparent;
    box-shadow: none;
    border-radius: 0.5rem;

    transform: translate(-0.5rem, 0.5rem);

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: background, box-shadow, transform;

    will-change: background, box-shadow, transform;

    z-index: 1;
  }

  &_active &__background {
    transform: translate(0);
    background: $color_active;

    @include box-shadow($color_active);
  }

  &_active,
  &_active:hover {
    border-color: rgba($color: $color_active, $alpha: 1);
  }
}
