@use './variables' as *;
@import './fonts.scss';

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: $color_background;
  margin: 0;
  overflow: hidden auto;
  font-family: 'Varela Round', sans-serif;
}

a {
  user-select: none;
}

@font-face {
  font-family: 'codicon';
  src: url('/assets/codicon.ttf') format('truetype');
}
