@use './variables' as *;

@mixin border($direction: none) {
  $style-params: 1px solid $color_main;

  @if $direction == none {
    border: $style-params;
  } @else {
    border-#{$direction}: $style-params;
  }
}

@mixin no_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
