@use 'sass:color';

$color_dark: #000000;
$color_light: #ffffff;

$color_background: $color_light;
$color_background-hover: color.scale(
  $color: $color_background,
  $lightness: -85%
);
$color_background-hover-light: color.scale(
  $color: $color_background,
  $lightness: -70%
);
$color_background-alternative: #1e1e1e;
$color_main: #263238;
$color_active: #c95043;
$color_pipeline-elements: color.mix($color_main, $color_background, 25%);

$height_header: 64px;
$height_footer: 24px;
$height_code-editor-tabs: 48px;
$height_pipeline-background-elements: 16px;

$width_sidebar: 400px;
