@use './styles/variables' as *;
@import './styles/global';

$height_navigation: 88px;

.page-content {
  background: $color_background;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
