@use './../../../styles/variables' as *;
@import '/assets/editor.main.css';

:host {
  display: block;
  background: $color_background-alternative;
}

.editor-container {
  position: relative;

  width: 100%;
  height: calc(100% - #{$height_code-editor-tabs});

  overflow: hidden;

  font-family: monospace;
  font-size: unset;
}
