@use 'sass:math';
@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;
@import './../../../styles/global';

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  text-decoration: none;
  color: $color_main;

  cursor: pointer;
  padding: 0 12px 12px;

  background: transparent;
  border-radius: 2px;

  &,
  &__marker {
    transition-duration: 0.075s;
    transition-timing-function: ease-in;
    transition-property: background;
  }

  &__marker {
    $size_marker: 10px;

    width: $size_marker;
    height: $size_marker;

    margin: math.div($height_pipeline-background-elements - $size_marker, 2) 0;

    background: $color_pipeline_elements;
  }

  &__text {
    color: $color_main;

    font-size: 1rem;
    white-space: nowrap;

    padding: 0.25rem;
  }

  &__icon {
    $size_icon: 32px;

    width: $size_icon;
    height: $size_icon;

    padding: 6px 0 0 0;
  }

  &:hover &__marker,
  &_active &__marker {
    background: $color_active;
  }

  &:hover {
    background: rgba($color_pipeline_elements, 0.2);
  }
}
